NEXT_PUBLIC_SANITY_PROJECT_ID=16asym1c
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_STUDIO_PROJECT_ID=16asym1c
SANITY_STUDIO_DATASET=production
SANITY_STUDIO_HOSTNAME=
# Solo servidor, permiso Editor para registrar solicitudes e importar contenido:
SANITY_API_WRITE_TOKEN=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Crear inquiries como dataset PRIVADO, separado de production:
SANITY_INQUIRY_DATASET=inquiries
SANITY_STUDIO_INQUIRY_DATASET=inquiries
